<script type="text/ejs" id="font-sample">
    <div class="font-example-container">
        <button class="btn btn-default btn-sm collapse-button" type="button" data-toggle="collapse" data-target="#[%= fontName %]">
            [%= fontNameKana %]
        </button>
        <div class="collapse font-pct-area" id="[%= fontName %]">
            <img src="[%= src %]" alt="font picture" />
        </div>
    </div>
</script>