<script type="text/ejs" id="font-sample">
    <div class="font-example-container" style="font-family: [%= fontFamily %]">
        <div class="font-name-area">
            <span>[%= fontName %]</span>
        </div>
        <div class="text-example-area">
            <div class="text-example">
                <span>北猟 vs 歴戦テオ・テスカトル</span>
            </div>
            <div class="text-example bold-text-example">
                <span>北猟 vs 歴戦ナナ・テスカトリ (太字)
                </span>
            </div>
        </div>
    </div>
</script>