<script type="text/ejs" id="SkillContainer">
[% $.each(expectationData, function(skillName, skillData) { %]
    <div class="skillRow">
        <div class="skillName">[%= skillNameMap[skillName] %]</div>
        <div class="skillCbContainer">
            [% $.each(skillData, function(lv, expectationAry) { %]
                <div class="skillCbWrapper">
                    <label>
                        <span>[%= lv %]</span>
                        <input class="skillLvCb" type="checkbox" value="[%= lv %]" data-skill-name="[%= skillName %]">
                    </label>
                </div>
            [% }); %]
        </div>
    </div>
[% }); %]
</script>

<script type="text/ejs" id="ExpectationTableContainer">
[% $.each(expectationData, function(skillName, expectationData) { %]
    <div class="tableWrapper">
        <table class="[%= skillName %]ExpectationTable" border=1>
            <tr>
                <td class="tableName labelCell" colspan=12>[%= skillNameMap[skillName] %]</td>
            </tr>
            <tr>
                <td class="headerCell labelCell textCenterCell" width=30></td>
                <td class="headerCell labelCell textCenterCell">0%</td>
                <td class="headerCell labelCell textCenterCell">10%</td>
                <td class="headerCell labelCell textCenterCell">20%</td>
                <td class="headerCell labelCell textCenterCell">30%</td>
                <td class="headerCell labelCell textCenterCell">40%</td>
                <td class="headerCell labelCell textCenterCell">50%</td>
                <td class="headerCell labelCell textCenterCell">60%</td>
                <td class="headerCell labelCell textCenterCell">70%</td>
                <td class="headerCell labelCell textCenterCell">80%</td>
                <td class="headerCell labelCell textCenterCell">90%</td>
                <td class="headerCell labelCell textCenterCell">100%</td>
            </tr>
            [% $.each(expectationData, function(lv, expectationAry) { %]
                <tr>
                    <td class="headerCell labelCell textCenterCell">[%= lv %]</td>
                    [% $.each(expectationAry, function(idx, val) { %]
                        [%
                            var bgColor;
                            if(val <= 110) {
                                bgColor = 'bgOrangeCell';
                            } else if(110 < val && val <= 120) {
                                bgColor = 'bgGreenCell';
                            } else if(120 < val && val <= 130) {
                                bgColor = 'bgBlueCell';
                            } else if(130 < val && val <= 140) {
                                bgColor = 'bgWhiteCell';
                            } else {
                                bgColor = 'bgPurpleCell';
                            }
                        %]
                        <td class="labelCell textRightCell [%= bgColor %]">[%= val.toFixed(2) %]</td>
                    [% }); %]
                </tr>
            [% }); %]
        </table>
    </div>
[% }); %]
</script>