@charset "UTF-8";

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Meiryo;
    box-sizing: border-box;
}

.inputContainer {
	height: 300px;
	width: 100%;
	display: flex;
}

.areaTitle {
	height: 20px;
	border-top: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	text-align: center;
	background: #b9e0f7;
}

.possessionContainer {
	height: 100%;
	width: 350px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.possessionList {
	height: calc(100% - 20px);
	width: 100%;
}

.materialContainer {
	height: 100%;
	width: calc(100% - 350px);
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.materialList {
	height: calc(100% - 20px);
	width: 100%;
}

.btnContainer {
	height: 40px;
	width: 100%;
	padding: 5px;
	display: flex;
}

.operationBtn {
	width: 100px;
	margin-left: 2px;
	margin-right: 2px;
}

.descExampleBtn {
	margin-left: auto;
}

.resultContainer {
	height: calc(100% - 300px - 40px);
	width: 100%;
	padding: 0 5px 5px 5px;
}

.resultArea {
	height: calc(100% - 20px);
	width: 100%;
	border-left: solid 1px;
	border-bottom: solid 1px;
	border-right: solid 1px;
	border-top: solid 1px;
}

.resultArea {
	display: flex;
	overflow: auto;
}

.setItem {
	height: 100%;
	width: 220px;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.setName {
	text-align: center;
	border-top: solid 1px;
	border-left: solid 1px;
	border-bottom: solid 1px;
	border-right: solid 1px;
	background: #e1f3e1;
	margin-bottom: 5px;
}

.materialTable {
	width: 100%;
	text-align: center;
	border-top: solid 1px;
	border-left: solid 1px;
}

.materialTable thead td {
	background: #b9e0f7;
}

.materialTable td {
	border-right: solid 1px;
	border-bottom: solid 1px;
}