html,body {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Meiryo;
}

.textCenter {
    text-align: center;
}

.descArea {
    font-size: 12px;
}

/* ＝＝＝＝＝辞書コンテナ＝＝＝＝＝ */

.dictionaryRootContainer .panel-body {
    padding: 5px;
}

.dictionaryRootContainer td {
    padding: 2px;
}

#aboutPrestige .descArea tr td:first-child {
    text-align: center;
}

#aboutGameMode .descArea tr td:first-child {
    text-align: center;
}