@charset "UTF-8";

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial Meiryo;
    box-sizing: border-box;
}

.headerContainer {
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
}

.bodyContainer {
    position: relative;
}

.armorItemsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

.armorItem {
    display: inline-block;
    width: 270px;
    margin-bottom: 10px;
    vertical-align: top;
}
.partName {
    display: inline-block;
    height: 22px;
    width: 100%;
    text-align: center;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    background: #d8edf9;
    user-select: none;
    -ms-user-select: none;
}

.armorTalentList {
    height: 25px;
    width: 100%;
}

.talentDescArea {
    height: 40px;
    width: 100%;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    overflow: auto;
    padding: 3px;
}

.setBounusContainer {
    position: absolute;
    top: 0;
    left: 600px;
    width: 360px;
    height: 300px;
    border: solid 1px;
    overflow: auto;
}

.setBounusLabel {
    height: 22px;
    width: 100%;
    border-bottom: solid 1px;
    text-align: center;
    background: #87f5a9;
    user-select: none;
    -ms-user-select: none;
}

.setBounusList {
    height: calc(100% - 22px);
    width: 100%;
    overflow: auto;
    user-select: none;
    -ms-user-select: none;
}

.setBounusList > ul {
    padding-left: 20px;
}

.setNum {
    font-weight: bold;
}

.armorStatusContainer {
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
}

.armorStatusArea.selectedStatus {
    background: #caf8fd;
    font-weight: bold;
    color: #242525
}

.armorStatusArea {
    position: absolute;
    display: inline-block;
    top: 0;
    height: 100%;
    width: calc(100% / 3);
    border-left: solid 1px;
    border-bottom: solid 1px;
    font-size: 16px;
    user-select: none;
    -ms-user-select: none;
}

.firearmsArea {
    left: 0;
}

.staminaArea {
    left: 90px;
}

.electronArea {
    left: 180px;
    border-right: solid 1px;
}

.tokuseiList {
    width: 100%;
}

.grandTotalContainer {
    position: absolute;
    top: 310px;
    left: 600px;
    width: 360px;
    height: 300px;
}

.grandTotalLabel {
    height: 22px;
    width: 100%;
    border: solid 1px;
    text-align: center;
    background: #A4A9E2;
    user-select: none;
    -ms-user-select: none;
}

.grandTotalArea {
    height: calc(100% - 22px);
    width: 100%;
}

.totalStatus {
    position: relative;
    height: 80px;
    width: 100%;
}

.totalStatusItem {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% / 3);
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    user-select: none;
    -ms-user-select: none;
}

.totalFirearmsArea {
    left: 0;
}

.totalStaminaArea {
    left: 120px;
}

.totalElectronArea {
    left: 240px;
    border-right: solid 1px;
}

.totalStatusLabel {
    font-weight: bold;
}