@charset "UTF-8";

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Meiryo;
    box-sizing: border-box;
}

.headerContainer {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.bodyContainer {
    position: relative;
    height: calc(100% - 41px);
}

.equipmentContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 585px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.armorItem {
    display: inline-block;
    width: 270px;
    margin-bottom: 10px;
    vertical-align: top;
}
.partName {
    display: inline-block;
    height: 22px;
    width: 100%;
    text-align: center;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: #cccccc;    
    background: #d8edf9;
    user-select: none;
    -ms-user-select: none;
}

.armorTalentList {
    height: 25px;
    width: 100%;
}

.armorItem .talentDescArea {
    height: 22px;
    width: 100%;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #cccccc;
    overflow: auto;
    padding: 3px;
}

.setBounusContainer {
    position: absolute;
    top: 0;
    left: 600px;
    width: 360px;
    height: 300px;
    border: solid 1px;
    overflow: auto;
}

.setBounusLabel {
    height: 22px;
    width: 100%;
    border-bottom: solid 1px;
    text-align: center;
    background: #87f5a9;
    user-select: none;
    -ms-user-select: none;
}

.setBounusList {
    height: calc(100% - 22px);
    width: 100%;
    overflow: auto;
    user-select: none;
    -ms-user-select: none;
}

.setBounusList > ul {
    padding-left: 20px;
}

.setNum {
    font-weight: bold;
}

.armorStatusContainer {
    position: relative;
    height: 45px;
    width: 100%;
    text-align: center;
}

.armorStatusArea.selectedStatus {
    background: #caf8fd;
    font-weight: bold;
    color: #242525
}

.armorStatusArea {
    position: absolute;
    display: inline-block;
    top: 0;
    height: 100%;
    width: calc(100% / 3);
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-color: #cccccc;
    font-size: 16px;
    user-select: none;
    -ms-user-select: none;
}

.armorStatusArea.firearmsArea {
    left: 0;
}

.armorStatusArea.staminaArea {
    left: 90px;
}

.armorStatusArea.electronArea {
    left: 180px;
    border-right: solid 1px;
    border-color: #cccccc;
}

.tokuseiList {
    width: 100%;
}

.grandTotalContainer {
    position: absolute;
    top: 310px;
    left: 600px;
    width: 360px;
    height: 300px;
}

.grandTotalLabel {
    height: 22px;
    width: 100%;
    border: solid 1px;
    text-align: center;
    background: #A4A9E2;
    user-select: none;
    -ms-user-select: none;
}

.grandTotalArea {
    height: calc(100% - 22px);
    width: 100%;
}

.totalStatus {
    position: relative;
    height: 80px;
    width: 100%;
}

.totalStatusItem {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% / 3);
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    user-select: none;
    -ms-user-select: none;
}

.totalFirearmsArea {
    left: 0;
}

.totalStaminaArea {
    left: 120px;
}

.totalElectronArea {
    left: 240px;
    border-right: solid 1px;
}

.totalStatusLabel {
    font-weight: bold;
}

.totalTokusei {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: auto;
}

.tokuseiTable {
    height: 100%;
    width: 100%;
    border-right: solid 1px;
    table-layout: fixed;
}

.tokuseiTable td {
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.tokuseiNameCell {
    padding-left: 2px;
    font-size: 12px;
}

.tokuseiValCell {
    text-align: center;
}

.weaponItem {
    margin-bottom: 10px;
    font-size: 12px;
}

.weaponTypeContainer {
    display: flex;
}

.weaponTypeList {
    width: 175px;
    height: 23px;
}

.typeDesc {
    display: inline-block;
    height: 23px;
    width: 250px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-color: #cccccc;
}

.weaponTalentItem {
    display: flex;
    height: 36px;
    width: 540px;
}

.weaponTalentList {
    width: 150px;
}

.weaponTalentStatusContainer {
    display: flex;
    position: relative;
    width: 160px;
    border-left: solid 1px;
    border-color: #cccccc;
}

.weaponStatusArea {
    height: 100%;
    width: calc(100% / 3);
    user-select: none;
    -ms-user-select: none;
    text-align: center;
}

.weaponStatusLabel {
    height: 18px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: #cccccc;
    background: #f1e0bc;
}

.weaponStatusVal {
    height: calc(100% - 18px);
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: #cccccc;
}

.weaponItem .talentDescArea {
    height: 36px;
    width: 200px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: #cccccc;
    overflow: auto;
}

.weaponTalentItem:last-child .weaponTalentStatusContainer {
    border-bottom: solid 1px;
    border-color: #cccccc;
}

.weaponTalentItem:last-child .talentDescArea {
    border-bottom: solid 1px;
    border-color: #cccccc;
}

.decorateSelect {
    display: block;
    padding: 2px 4px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.warnDispItem {
    background: #f95858;
}