@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.root-container {
    height: 100%;
    width: 100%;
    padding: 6px;
}

.item-row {
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
}

.name-content {
    flex-basis: 160px;
}


.required-karyoku-youin-dmg-for-one-row .val-content {
    border: solid 1px red;
    padding: 1px;
    font-weight: bold;
}

.targets-list {
    width: 130px;
}

.rekisen-hosei {
    width: 130px;
}

.hi-karyoku-youin-num {
    width: 130px;
}

.hi-karyoku-youin-dmg {
    width: 130px;
}

.trap-table td {
    padding: 1px 2px;
    text-align: center;
}