<script type="text/ejs" id="aboutPrestige">
    <span>いわゆる転生システム。</span>
    <br />
    <span>対象レベルをリセットし、なんらかの報酬を解禁できる。</span>
    <br />
    <span>武器／兵士／師団の三種があり、それぞれ独立している。</span>
</script>

<script type="text/ejs" id="aboutWeaponPrestige">
    <table border=1>
        <tr>
            <td width=60px>条件</td>
            <td>
                <span>武器Lvが上限に達すること。</span><br />
                <span>4回まで可能</span>
            </td>
        </tr>
        <tr>
            <td>方法</td>
            <td>武器選択画面で対象画面を選択し、△ボタンを長押し</td>
        </tr>
        <tr>
            <td>Lv上限</td>
            <td>
                <span>SMG : 11</span><br />
                <span>AR : 14</span><br />
                <span>LMG : 9</span><br />
                <span>SR : 6</span><br />
                <span>SG : 8</span><br />
                <span>ハンドガン : 9</span><br />
                <span>近接 : 11</span><br />
                <span>ランチャー : 11</span>
            </td>
        </tr>
        <tr>
            <td>ロスト</td>
            <td>
                <ul style="margin-bottom:0;padding-left:20px;">
                    <li>武器Lv（1になる）</li>
                    <li>全アタッチメント</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>報酬</td>
            <td>
                <span>1回目 : クランタグ（任意のアルファベット4文字）</span><br />
                <span>2回目 : キルカウンター</span><br />
                <span>3回目 : Gold Leopard迷彩のチャレンジ解放</span><br />
                <span>4回目 : Gold Cheetah迷彩のチャレンジ解放</span>
            </td>
        </tr>
        <tr>
            <td>雑感</td>
            <td>
                <span>報酬（=見た目系）に魅力を感じるかどうか次第かと。</span><br />
                <span>全アタッチメントが没収されるので、慣れた武器でも暫く使いにくそう。</span>
            </td>
        </tr>
    </table>
</script>

<script type="text/ejs" id="aboutSoldierPrestige">
    <table border=1>
        <tr>
            <td width=60px>条件</td>
            <td>
                <span>キャラLvが55を超え、56相当になること。</span><br />
                <span>10回まで可能</span>
            </td>
        </tr>
        <tr>
            <td>方法</td>
            <td>司令部の「プレステージ・オールバック」で将軍に話しかける</td>
        </tr>
        <tr>
            <td>ロスト</td>
            <td>
                <ul style="margin-bottom:0;padding-left:20px;">
                    <li>キャラLv(1になる)</li>
                    <li>解除した武器・装備・基礎トレーニング</li>
                    <li><span style="text-decoration:line-through;">プレイヤースキル</span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>引継</td>
            <td>上記のロスト以外(ざっくり)</td>
        </tr>
        <tr>
            <td>報酬</td>
            <td>
                <ul style="margin-bottom:0;padding-left:20px;">
                    <li>永久アンロックトークンx1（ランクに関係なくアンロックできるトークン？）</li>
                    <li>プレステージチャレンジ解放（初回)</li>
                    <li>カスタムクラス枠（5週目まで。Max10枠）</li>
                    <li>5LvUp毎にサプライドロップget</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>雑感</td>
            <td>
                <span>目ぼしい報酬はカスタムクラス枠と5LvUp毎のサプライドロップかと。</span><br />
                <span>武器と基礎トレがロックされるので、戦法が変わるかも（それはそれで色々やれてよい気もする）。</span><br />
                <span>※ 武器はロックされるが、武器レベルは維持される。</span>
            </td>
        </tr>
    </table>
</script>

<script type="text/ejs" id="aboutDivisionPrestige">
    <table border=1>
        <tr>
            <td width=60px>条件</td>
            <td>
                <span>師団Lvが4を超え、5相当になること。</span><br />
                <span>4回まで可能</span>
            </td>
        </tr>
        <tr>
            <td>方法</td>
            <td>司令部にある「師団プレステージ」に行く</td>
        </tr>
        <tr>
            <td>ロスト</td>
            <td>
                <ul style="margin-bottom:0;padding-left:20px;">
                    <li>師団Lv(1になる)</li>
                    <li>師団Lv2～4の能力</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>報酬</td>
            <td>
                <span>1回目 : 各師団ごとの特別な武器と基礎トレ</span><br />
                <span>2回目 : 各師団ごとのコーリングカード</span><br />
                <span>3回目 : 各師団ごとのコスチューム</span><br />
                <span>4回目 : 各師団ごとの武器バリアント</span>
            </td>
        </tr>
        <tr>
            <td>雑感</td>
            <td>
                <span>1回目報酬の武器・基礎トレで欲しいものがあればやっておきたい。</span><br />
                <span>補足：3回目報酬のコスチュームは初期コスチュームの汚れがなくなったタイプ</span><br />
                <span>補足：4回目報酬の武器バリアントは、1回目報酬の武器のバリアント。10%追加ボーナスあり</span>
            </td>
        </tr>
    </table>
</script>

<script type="text/ejs" id="aboutScorestreak">
    <div>作成中</div>
</script>

<script type="text/ejs" id="aboutGameMode">
    <table border=1>
        <tr>
            <td><span style="color: #008000;">モード名</span></td>
            <td><span style="color: #008000;">ルール解説</span></td>
        </tr>
        <tr>
            <td>TDM</td>
            <td>
                ・チームデスマッチのこと<br />
                ・できるだけ多くの敵をたおしたチームの勝ち<br />
                ・制限時間がきた場合、敵のキル数が多いチームの勝ち
            </td>
        </tr>
        <tr>
            <td>WAR</td>
            <td>
                ・攻撃側と、防衛側の2チームに分かれて戦う<br />
                ・すべての目標が破壊されるか、攻撃チームのチケット数が0、時間切れになると終了<br />
                ・今度は、攻撃側と防衛側を入れ替えて、後半戦が始まる<br />
                ・バトルフィールドシリーズの「ラッシュ」と似ている<br />
                <span style="color: #800080;">【攻撃側】</span><br />
                ・攻撃チームは、目標を破壊するのが目的<br />
                ・攻撃チームにはチケット数があり、敵にたおされるとチケットがへる<br />
                <span style="color: #800080;">【防衛側】</span><br />
                ・目標を制限時間まで守りきるか、攻撃チームのチケット数を0にすると勝ち
            </td>
        </tr>
        <tr>
            <td>ドミネーション</td>
            <td>
                ・マップに3ヶ所の拠点がある<br />
                ・指定された拠点に一定時間いると、制圧できる<br />
                &gt;人数が多いほどすぐ制圧できる<br />
                ・5秒ごとに、制圧した場所の数だけスコアがふえる<br />
                ・200点になったチームの勝ち
            </td>
        </tr>
        <tr>
            <td>ハードポイント</td>
            <td>
                ・指定されたエリアに行き、その場で待機すると、毎秒1点、制圧したチームのスコアが増える<br />
                ・敵がエリア内に入ると、スコア加算はストップする<br />
                ・エリア内にいる敵をすべてたおすと、またスコアが増える<br />
                ・スコアが250点になったチームの勝ち<br />
                ・ハードポイント（指定されたエリア）は、1分ごとに別の場所に移動する<br />
                ・ハードポイントの出現場所は、決まっている（覚えゲー）<br />
                ・ハードポイントは、1人入っていればスコアが増えるので、チーム全員で入る必要はない
            </td>
        </tr>
        <tr>
            <td>キャプチャーフラッグ</td>
            <td>
                ・相手陣地にある旗をうばって、自分の陣地の所に戻ってくる<br />
                ・自分の陣地の旗を取られていると、相手の旗を持って帰ってもゴールできない
            </td>
        </tr>
        <tr>
            <td>サーチ＆デストロイ</td>
            <td>
                ・1度しぬと、復活できない<br />
                ・攻撃側と、防衛側に分かれる<br />
                <span style="color: #800080;">【攻撃チーム】</span><br />
                ・爆弾で目標を破壊するか、防衛チームを全滅させると勝ち<br />
                <span style="color: #800080;">【防衛チーム】</span><br />
                ・防衛側は、設置された爆弾を解除、制限時間が切れる、攻撃チームを全滅させると勝ち
            </td>
        </tr>
        <tr>
            <td>キルコンファームド</td>
            <td>
                ・敵をたおして、ドッグタグを回収する<br />
                ・敵をたおすか、たおした敵や、たおされた敵からドックタグを回収するとスコアがふえる<br />
                ・目標スコアに到達するか、制限時間がくるとクリア
            </td>
        </tr>
        <tr>
            <td>フリーフォーオール</td>
            <td>
                ・自分以外はすべて敵<br />
                ・通称「FFA」<br />
                ・30キルするか、制限時間になるとクリア<br />
                &gt;時間切れの場合は、スコアが1番多い人の勝ち<br />
                ・復活地点がランダム
            </td>
        </tr>
        <tr>
            <td>GRIDIRON</td>
            <td>
                ・青チームと赤チームに分かれて戦う<br />
                ・目標スコアになったチームの勝ち<br />
                ・マップ上に、青いエリア、赤いエリア、ボールの3つが出現する<br />
                ・ボールに近づくと持てる<br />
                ・R2で投げれる<br />
                ・ボールを持った状態で、赤いエリアに行くとスコア+7点
            </td>
        </tr>
    </table>
</script>