html,body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Meiryo;
    font-size: 12px;
}

.background {
    background-color: #fdfffc;
}

.root-container {
    padding: 4px;
}

/* input[type=number]のスピンボタンを非表示 */
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* スキル選択リスト */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.select-skill-container {
    margin-bottom: 6px;
}

/* ＝＝＝＝＝ スキル選択リスト ヘッダ行 ＝＝＝＝＝*/
.select-skill-list > .skill-list-header-row {
    display: flex;
    flex-wrap: wrap;
}

.skill-list-header-row > .header-cell {
    flex-grow: 1;
    flex-shrink: 1;
    border: solid 1px;
    padding: 2px 4px;
    text-align: center;
    background-color: #ddedf1;
}

/* スキル */
.skill-list-header-row > .header-cell.skill-name-cell {
    flex-basis: 154px;
}

/* 発動スキル */
.skill-list-header-row > .header-cell.active-skill-name-cell {
    flex-basis: 154px;
}

/* 近接 */
.skill-list-header-row > .header-cell.melee-skill-lv-cell {
    flex-basis: 44px;
}

/* 銃 */
.skill-list-header-row > .header-cell.gun-skill-lv-cell {
    flex-basis: 44px;
}

/* 盾 */
.skill-list-header-row > .header-cell.shield-skill-lv-cell {
    flex-basis: 44px;
}

/* 強化パーツ */
.skill-list-header-row > .header-cell.enhance-part-skill-lv-cell {
    flex-basis: 60px;
}

/* 制御ユニット */
.skill-list-header-row > .header-cell.controller-unit-skill-lv-cell {
    flex-basis: 60px;
}

/* 備考 */
.skill-list-header-row > .header-cell.bikou-cell {
    flex-basis: 160px;
}

/* 削除 */
.skill-list-header-row > .header-cell.delete-cell {
    flex-basis: 44px;
}

/* ＝＝＝＝＝ スキル選択リスト データ行 ＝＝＝＝＝*/
.select-skill-data-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
}

.select-skill-data-row > .data-cell {
    flex-grow: 1;
    flex-shrink: 1;
    border: groove 1px;
    min-height: 32px;
    text-align: center;
    position: relative;
}

/* スキル */
.select-skill-data-row > .data-cell.skill-name-cell {
    flex-basis: 154px;
}

.select-skill-data-row .select-skill {
    height: 22px;
    width: 144px;
    position: absolute;
    left: calc(50% - 72px);
    top: calc(50% - 12px);
}

/* 発動スキル */
.select-skill-data-row > .data-cell.active-skill-name-cell {
    flex-basis: 154px;
    text-align: left;
    padding: 2px 8px;
}

/* 近接 */
.select-skill-data-row > .data-cell.melee-skill-lv-cell {
    flex-basis: 44px;
}

/* 銃 */
.select-skill-data-row > .data-cell.gun-skill-lv-cell {
    flex-basis: 44px;
}

/* 盾 */
.select-skill-data-row > .data-cell.shield-skill-lv-cell {
    flex-basis: 44px;
}

/* 強化パーツ */
.select-skill-data-row > .data-cell.enhance-part-skill-lv-cell {
    flex-basis: 60px;
}

/* 制御ユニット */
.select-skill-data-row > .data-cell.controller-unit-skill-lv-cell {
    flex-basis: 60px;
}

/* 備考 */
.select-skill-data-row > .data-cell.bikou-cell {
    flex-basis: 160px;
    padding: 0 4px;
}

.select-skill-data-row .input-bikou-cell {
    width: calc(100% - 8px);
    height: 23px;
    resize: none;
    position: absolute;
    left: 4px;
    top: calc(50% - 11px);
}

/* 削除 */
.select-skill-data-row > .data-cell.delete-cell {
    flex-basis: 44px;
}

.select-skill-data-row .delete-skill-row-btn {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 11px);
}

/* 近接/銃/盾/強化パーツ/制御ユニットの入力要素 */
.select-skill-data-row .input-lv-cell {
    height: 22px;
    width: 30px;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 11px);
    text-align: center;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* スキル選択行追加ボタン */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.add-skill-row-btn-wrapper {
    margin-top: 6px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* 選択したスキル表 */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* 行の背景色を変更 */
.select-skill-data-row:nth-child(2n+1) {
    background-color: #f6f3fe;
}

/* ＝＝＝＝＝ ヘッダ行 ＝＝＝＝＝ */
.selected-skill-header-row {
    display: flex;
}

.selected-skill-header-row > .header-cell {
    flex-grow: 0;
    flex-shrink: 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 2px 4px;
    text-align: center;
    background-color: #ddedf1;
}

/* スキル */
.selected-skill-header-row > .skill-name-cell {
    flex-basis: 140px;
    border-left: solid 1px;
}

/* スキルLv */
.selected-skill-header-row > .skill-lv-cell {
    flex-basis: 30px;
    border-right: solid 1px;
    padding-left: 0;
    margin-right: 8px;
}

/* 発動スキル */
.selected-skill-header-row > .active-skill-name-cell {
    flex-basis: 140px;
    border-left: solid 1px;
}

/* 発動スキルLv */
.selected-skill-header-row > .active-skill-lv-cell {
    flex-basis: 30px;
    border-right: solid 1px;
    padding-left: 0;
}

/* ＝＝＝＝＝ データ行 ＝＝＝＝＝ */
.selected-skill-data-row {
    display: flex;
}

.selected-skill-data-row > .data-cell {
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: solid 1px;
    padding: 2px 8px;
    text-align: center;
    min-height: 30px;
}

/* スキル */
.selected-skill-data-row > .skill-name-cell {
    flex-basis: 140px;
    border-left: solid 1px;
    text-align: left;
}

/* スキルLv */
.selected-skill-data-row > .skill-lv-cell {
    flex-basis: 30px;
    border-right: solid 1px;
    padding-left: 0;
    margin-right: 8px;
}

/* 発動スキル */
.selected-skill-data-row > .active-skill-name-cell {
    flex-basis: 140px;
    border-left: solid 1px;
    text-align: left;
}

/* 発動スキルLv */
.selected-skill-data-row > .active-skill-lv-cell {
    flex-basis: 30px;
    border-right: solid 1px;
    padding-left: 0;
}